BODY {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

H1 {
    color: #00f;
}

.header {
    height: 6em;
    background-color: darkblue;
}

.logo {
    max-width: 60px;
}