<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>My Crawler</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->url->get('img/favicon.ico')?>"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <link rel="stylesheet" href="/css/app.css?x=4">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark justify-content-between">

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Jobs">Jobs</a>
                </li>
            </ul>

            <div class="pull-right float-right">
                <ul class="navbar-nav">                

                <li class="nav-item ">

                    <?php if ($isAuthenticated) {
    ?>
                    
                    <a class="nav-link" href="/SimpleAuth/logout">Logout</a>
                    <?php
} else {
        ?>
                        <a class="nav-link" href="/SimpleAuth">Authenticate</a>
                    <?php
    } ?>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="https://www.eduardo-luz.com">Author</a>
                </li>
            </ul>
            </div>
            
        </nav>
        <div class="container">
            <?php echo $this->getContent(); ?>


            
        </div>
        <!--footer style="position: absolute; bottom: 0; background-color: #444; color: white; width: 100%">
            <div class="pull-right"  style="font-size: x-small">
                Created by <a href='https://www.eduardo-luz.com'>Eduardo Luz (https://www.eduardo-luz.com)</a>
            </div>                
        </footer-->


        <!-- jQuery first, then Popper.js, and then Bootstrap's JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
